[submodule "tegra-demo-distro"]
	path = tegra-demo-distro
	url = https://github.com/OE4T/tegra-demo-distro.git
[submodule "meta-mender-community"]
	path = meta-mender-community
	url = https://github.com/Austriker/meta-mender-community.git
